nav{

    background: #343A40;
}
.section{
    padding-top:40px;
    padding-bottom: 60px;
    background: #E9ECEF;
}

.nav-link, .navbar-brand{
    color:white;
    width: 300;

}
.nav-link{
   
}
.heading{
    padding-top: 80px;
    padding-bottom: 10px;
    font-size: 72px;
    width: 150;
    line-height: 84,38px;

}

.head-btn{
    margin-left: 55px;
    font-size: 20px;
    font-weight: 400;
}
.card-btn{
    margin: 0;
}
.disc-port{
    font-size: 16px;
    font-weight: 300;
    margin-left: 55px;
    width: 100%;
}

h1 {
    font-weight: 900;
    display: block;
    font-size: 2em;
    margin:80px 0 10px 55px;
    /* font-weight: bold; */
}
.card{
    margin-top: 30px;
    /* margin-left: 50px; */
    
}
.carding{
    margin-left: 43px;
    margin-right: 55px;
}

.col-lg-12.col-md-12.col-sm-12.tablelast{
    width: auto;
    margin-left: 55px;
    margin-right: 55px;
    overflow-x: auto;
}
.table{
    /* margin-left: 55px; */
    /* margin-right: 55px; */
    
}
.footer{
    background: #E9ECEF;
    padding: 5px 0;
    margin-top: 60px;
    padding-top: 15px;
}
.foottext{
    font-size: 16px;
    line-height: 19px;
    color: gray;
    margin-left: 55px;
    
}
td:hover{
    background:#d2d2d261;
}